/TestDataType/nbproject/private/
/TestDataType/build/
/UseScanner/nbproject/private/
/UseScanner/build/
/CelciasToFahrenheit/nbproject/private/
/CelciasToFahrenheit/build/
/HourMinSec/nbproject/private/
/HourMinSec/build/
/CalculateTheCircle/nbproject/private/
/CalculateTheCircle/build/
