/TestDataType/nbproject/private/
/TestDataType/build/
/UseScanner/nbproject/private/
/UseScanner/build/
/CelciasToFahrenheit/nbproject/private/
/CelciasToFahrenheit/build/
/HourMinSec/nbproject/private/
/HourMinSec/build/
/CalculateTheCircle/nbproject/private/
/CalculateTheCircle/build/
/DisplayCurrentTime/nbproject/private/
/JavaApplication9/nbproject/private/
/JavaApplication9/build/
/loan/nbproject/private/
/loan/build/
/circal calculate by if else/nbproject/private/
/circal calculate by if else/build/
/triangle/nbproject/private/
/triangle/build/
/JavaApplication13/nbproject/private/
